<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/header :: head"></head>
<body>
    <div th:insert="/fragmentos/header :: menu"></div>
    <br>
    <div class="container mt-4">
        <br>
        <div class="card">
            <div class="card-header">
                Agregar Tarea
            </div>
            <div class="card-body">
                <h5 class="card-title">Complete los detalles de la tarea</h5>
                <form th:action="@{/guardarTarea}" th:object="${tarea}" method="POST">
                    <div class="form-group">
                        <label for="exampleInput1">ID</label>
                        <input type="text" th:field="*{id}" class="form-control" placeholder="0" readonly>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput2">Descripción</label>
                        <input type="text" th:field="*{descripcion}" class="form-control" placeholder="Descripción">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput3">Fecha</label>
                        <input type="date" th:field="*{fecha}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput4">Realizado</label>
                        <input type="checkbox" th:field="*{realizado}" class="form-check-input">
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="/listarTareas" class="btn btn-primary active" role="button" aria-pressed="true">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    <script src="funciones.js"></script>
</body>
</html>

